@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background-image: url(midias/background-principal-new.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo{
    color: #16507b;
}

.logo h2{
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: 40px;

}

.menu{
    width:80%;
    text-align:right;
}
.menu a{
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: #007bff;
}

.menu .btn-menu{
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
}

.menu .btn-menu:hover{
    background-color: #124265;
    color: white;
}

/*
Section Main
*/

section.main{
padding: 50px 0;


}

.main_cta{
    width: 100%;
    text-align: center;
    margin: 60px 0;

}

.main_cta h2{
    color: white;
    font-size: 40px;
    margin: 0 30px 30px 30px;

}

.main_cta button {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 16px;
    color: white;
    border-radius: 6px;
    border: 0;
    transition: 0.5s;
    font-size: 16px;
    cursor: pointer;
}

.main_cta button:hover{
    background-color: #fff;
    color: #007bff;
    
}

.diferenciais{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    background-color: white;
    width: 23%;
    margin-right: 2%;
    padding: 50px 20px;
    border-radius: 10px;
}

.diferencial-single i{
    color: #124265;
    font-size: 23px;
}

.diferencial-single h2{
    color: #124265;
    margin: 10px 0;
    font-size: 17px;
}

.diferencial-single p{
    color: gray;
    font-size: 14px;
    line-height: 30px;
}

@media screen and (max-width: 768px) {
    .diferencial-single{
        
        width: 100%;
        margin-bottom: 20px;
    }
}
