@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}

header{
    background-color: white;
    padding: 10px 0;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.logo{
    color: #16507b;
}

.logo h2{
    font-family: "Dancing Script", sans-serif;
    font-weight: bolder;
    font-size: 40px;

}

.menu{
    width:80%;
    text-align:right;
}
.menu a{
    font-family:'Poppins', sans-serif;
    color: #124265;
    font-size: 14px;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.4s;
}

.menu a:hover{
    color: #007bff;
}


.container {
    background-image: url(../midias/background-principal-new.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content{
    background-color: white;
    border-radius: 15px;
    width: 960px;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    

}

.content::before{
    content: "";
    position: absolute;
    background-color: #0b63c0;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    left: 0;
}

.title{
    
    font-size: 28px;
    font-weight: bold;
    
}

.title-primary {
    color: white;
}

.title-second {
    color: #0b63c0;
}

.description {
    font-size: 14px;
    font-weight: 300;
    color: white;
    line-height: 30px;
}

.description-primary{
    color: white;
}

.description-second{
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    padding: 10px 27px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border: 0;
    margin-top: 1rem;
    text-align: center;
    
}

.btn-primary{
background-color: transparent;
border: 1px solid #fff;
transition: background-color 0.5s;

}

.btn-primary:hover{
    background-color: white; 
    color: #0b63c0;
    
    }

.btn-second{
    background-color: #0b63c0;
    border: 1px solid #0b63c0;
    transition: background-color 0.5s;
    
}

.btn-second:hover{
    background-color: #fff;
    border: 1px solid #0b63c0;
    color: #0b63c0;
}


.first-content{
    display: flex;
    
    
}

.first-content .second-column{
    z-index: 11;
}

.first-column{
   text-align: center;
   width: 40%;
   z-index: 10;
}

.second-column {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media{
    margin: 1rem 0;
}

.link-social-media:not(:first-child){
    margin-left: 10px;
}

.link-social-media .iten-social-media{
transition: background-color 0.5s;
}

.link-social-media:hover .iten-social-media{
    background-color:#0b63c0 ;
    color: #fff;
    border-color: #0b63c0;
}


.list-social-media{
    display: flex;
    list-style-type: none;
    
    
}

.iten-social-media{
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
    

} 

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
    
}

.form input{
    height: 45px;
    width: 100%;
    border: none;
    background-color: #ecf0f1;
    
}

.label-input{
background-color: #ecf0f1;
display: flex;
align-items: center;
margin: 8px;

}



.icon-modify{
    color: #7f8c8d;
    padding: 0 5px;
}

/* second content*/

.second-content{
    position: absolute;
    display: flex;

    
}

.second-content .first-column{
    order: 2;
    z-index: -1;
}

.second-content .second-column{
    order: 1;
    z-index: -1;
}

.password{
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.sign-in-js .first-content .first-column{
    z-index: -1;
}


.sign-in-js .second-content .second-column{
    z-index: 11;

}

.sign-in-js .second-content .first-column{
    z-index: 13;
}

.sign-in-js .content::before{
    left: 60%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slidein 1.5s;

    z-index: 12;
}

.sign-up-js .content::before{
    animation: slideout 1.5s;

    z-index: 12;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column{
    z-index: -1;
}

.sign-up-js .first-content .second-column{
    z-index: 11;
}

.sign-up-js .first-content .first-column{
    z-index: 13;
}

/* deslocamento conteúdo atrás do content::before*/

.sign-in-js .first-content .second-column{
    z-index: -1;
    position: relative;
    animation: deslocamentoEsq 1.5s;
}

.sign-up-js .second-content .second-column{
    position: relative;
    z-index: -1;
    animation: deslocamentoDir 1.5s;

}

/*animação css para conteúdo*/

@keyframes deslocamentoEsq{
    from{
        left: 0;
        opacity: 1;
        z-index: 12;
    }

    25%{
        left: -80px;
        opacity: 0.2;
    }

    50%{
        left: -100px;
        opacity: 0.1;
    }

    to{
        left: -110px;
        z-index: -1;
        opacity: 0;

    }
}

@keyframes deslocamentoDir{
    from{
        left: 0;
        z-index: 12;
        opacity: 1;
    }

    25%{
        left: 80px;
        opacity: 0.2;    
    }

    50%{
        left: 100px;
        opacity: 0.1;
    }

    to{
        left: 110px;
        z-index: -1;
        opacity: 0;
    }
}

@keyframes slidein{
    from{
        width: 40%;
        left: 0;
    }

    25%{
        width: 50%;
        left: 5%;
    }

    50%{
        width: 60%;
        left: 25%;
    }

    75%{
        width: 50%;
        left: 50%;
    }
    to{
        width: 40%;
        left: 60%;
    }
}


@keyframes slideout{
    from{
        width: 40%;
        left: 60%;
    }

    25%{
        width: 50%;
        left: 45%;
    }

    50%{
        width: 60%;
        left: 25%;
    }

    75%{
        width: 50%;
        left: 5%;
    }
    to{
        width: 40%;
        left: 0;       
    }
}


    
  



/*versão mobile*/
@media screen and (max-width: 1040px){
    .content{
        width: 100%;
        height: 100vh;
        
    }

    .content::before{
        width: 100%;
        height: 40%;
        top: 0;
        border-radius: 0;
    }

    .first-content, .second-content{
        flex-direction: column;
        justify-content: space-around;
    }

    .first-column,.second-column{
        width:100%;
        
    }

    .sign-in-js .content::before{
        top: 60%;
        left: 0;
        border-radius: 0;
    }

    /* animação css*/

    @keyframes deslocamentoEsq{
        from{
            top: 0;
            opacity: 1;
            z-index: 12;
        }
    
        25%{
            top: -110px;
            z-index: -1;
            opacity: 0;
    
        }
    }
    
    @keyframes deslocamentoDir{
        from{
            top: 0;
            z-index: 12;
            opacity: 1;
        }
    
        25%{
            top: 80px;
            opacity: 0.2;    
        }
    
        50%{
            top: 100px;
            opacity: 0.1;
        }
    
        to{
            top: 110px;
            z-index: -1;
            opacity: 0;
        }
    }
    
    /* animation css*/
    
    
    @keyframes slidein{
        from{
            height: 40%;
            top: 0;
        }
    
        25%{
            height: 50%;
            top: 5%;
        }
    
        50%{
            height: 60%;
            top: 25%;
        }
    
        75%{
            height: 50%;
            top: 50%;
        }
        to{
            height: 40%;
            top: 60%;
        }
    }
    
    
    @keyframes slideout{
        from{
            height: 40%;
            top: 60%;
        }
    
        25%{
            height: 50%;
            top: 45%;
        }
    
        50%{
            height: 60%;
            top: 25%;
        }
    
        75%{
            height: 50%;
            top: 5%;
        }
        to{
            height: 40%;
            top: 0;       
        }
    }

    .container{
        background-image: none;
        background-color: white;
        
    }
}
#msgError{
    text-align: center;
    color: #FF0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
#msgSucess{
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

@media screen and (max-width: 740px){
    form{
        width: 50%;
    }
}

@media screen and (max-width: 425px){
    form{
        width: 100%;
    }
}
    